# Main entrypoint and run command
run = "npm run dev"

language = "nodejs"

[nix]
channel = "nixpkgs-23_05"

[packager]
# Disable Replit’s Universal Package Manager (UPM)
language-packs = []
ignore-run-and-debug-config = true

[agent]
expertMode = true
